<div id="active-tasks" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <div id="tasks-header">
    
        <div class="header-title"> 
            <a href='#'><span class='glyphicon glyphicon-time left-icon'></span></a>
            Current Tasks
        <a href='#'><span class='glyphicon glyphicon-check right-icon'></span></a>
        </div>
    </div>
<div id="tasks-list">
    <li class="task-item">Do this And then that</li>
     <li class="task-item">Do this And then that</li>
     <li class="task-item">Do this And then that</li>
     <li class="task-item">Do this And then that</li>
</div>
</div>